<div style="bottom:0px;">
    <div>
        <div>
            <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Reportes</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbIndiceSuc" type="radio" name="optradio2">Indice de suciedad</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbRankCuadrasRepSis" type="radio" name="optradio3">Ranking de cuadras</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbIntervCuadraSubc" type="radio" name="optradio4">Intervenciones por cuadra y subcuenca</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Mapas</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbRankCuadRepSis" type="radio" name="optradio2">Ranking de cuadras</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbIntervCuadSubcuenRepSisMap" type="radio" name="optradio3">Intervenciones por cuadra y subcuenca</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbRankSubcuenMapRepSis" type="radio" name="optradio4">Ranking de subcuencas</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

