<div class="panel-body detalle-body">
    <div class="panel-body detalle-body">
        <div class="row margin-top">
            <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Reportes</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbTotInterv" type="radio" name="optradio2">Total de intervenciones</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbRankCuadras" type="radio" name="optradio3">Ranking de cuadras</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Mapas</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbZonInter" type="radio" name="optradio2">Zona e intervenciones</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbRankCuadr" type="radio" name="optradio3">Ranking de cuadras</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

