<div style="bottom:0px;">
    <div>
        <div>
            <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Reportes</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbTotInvervRepZonLav" type="radio" name="optradio2">Total de intervenciones</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Mapas</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbMallasInvervRepZonLav" type="radio" name="optradio2">Mallas e intervenciones</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbRatioMallaInvervRepZonLav" type="radio" name="optradio3">Ratio malla e intervenciones</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

