<div class="panel-body detalle-body">
    <div class="panel-body detalle-body">
        <div class="row margin-top">
            <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Reportes</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbRankMallas" type="radio" name="optradio2">Ranking de mallas</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Mapas</legend>
                    <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11">
                        <div class="checkbox">
                            <label><input id="rbRankMallasMap" type="radio" name="optradio2">Ranking de mallas</label>
                        </div>
                        <div class="checkbox">
                            <label><input id="rbIntervTipoMalla" type="radio" name="optradio3">Intervenciones por tipo y malla</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

