@model GeoSit.Client.Web.Models.Search.SearchResultGroup
@foreach(dynamic pedania  in Model.Items)
{
    <div class='srow pedanias'>
        <div class="controls">
            <span class="glyphicon glyphicon-plus-sign pull-right tooltips" data-placement="right" title="Más información" data-toggle="modal" data-target="#modal-window"></span>
            <span class="glyphicon glyphicon-pushpin  pull-right tooltips" data-placement="right" title="Pin"></span>
        </div>
        <div class="rcheck pedanias">
            <input title="Seleccionar" type="checkbox" class="rcheck" />
        </div>
        <p class='text-primary'>
            @Html.Raw(pedania.nombre)
        </p>
        <p class='text-muted'>Departamento:&nbsp;@Html.Raw(pedania.departamento)</p>
        <p class='text-muted'>Nomenclatura:&nbsp;@Html.Raw(pedania.literal)</p>
    </div>
}
