@model GeoSit.Client.Web.Models.Search.SearchResultGroup
@foreach(dynamic seccion  in Model.Items)
{
    <div class='srow secciones'>
        <div class="controls">
            <span class="glyphicon glyphicon-plus-sign pull-right tooltips" data-placement="right" title="Más información" data-toggle="modal" data-target="#modal-window"></span>
            <span class="glyphicon glyphicon-pushpin  pull-right tooltips" data-placement="right" title="Pin"></span>
        </div>
        <div class="rcheck secciones">
            <input title="Seleccionar" type="checkbox" class="rcheck" />
        </div>
        <p class='text-primary'>
            @Html.Raw(seccion.nomenclatura)
        </p>
        <p class='text-muted'>Localidad:&nbsp;@Html.Raw(seccion.localidad)</p>
        <p class='text-muted'>Departamento:&nbsp;@Html.Raw(seccion.departamento)</p>
    </div>
}
