@model GeoSit.Data.BusinessEntities.MesaEntradas.DTO.GeneradorParcelas
<div class="form-group">
    <div class="col-xs-offset-1 col-xs-10">
        <label class="control-label col-xs-3 text-right">
            Tipo:
        </label>
        <div class="col-xs-9">
            @Html.DropDownListFor(model => model.IdTipo, ViewData["TiposParcela"] as SelectList, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-offset-1 col-xs-10">
        <label class="control-label col-xs-3 text-right">
            Clase:
        </label>
        <div class="col-xs-9">
            @Html.DropDownListFor(model => model.IdClase, ViewData["ClasesParcela"] as SelectList, new { @class = "form-control" })
        </div>
    </div>
</div>
