<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <!-- Appender para ficheros-->
  <appender name="defaultLogger" type="log4net.Appender.RollingFileAppender">
    <file value="logs\logDefault.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-35.35M - %m%n" />
    </layout>
  </appender>
  <appender name="errorLogger" type="log4net.Appender.RollingFileAppender">
    <file value="logs\logError.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-35.35M - %m%n" />
    </layout>
  </appender>
  <logger name="DefaultLogger">
    <level value="ALL" />
    <appender-ref ref="defaultLogger" />
  </logger>
  <logger name="ErrorLogger">
    <level value="WARN" />
    <appender-ref ref="errorLogger" />
  </logger>
</log4net>
