.ayuda table {
    width: calc(100% - 2px) !important;
}
.ayuda table tr > td {
    border: 1px solid #ddd;
}
.ayuda table tr:not(.group):not(:last-child) > td {
    border-bottom: none;
}
.ayuda table tr.group {
    background-color: rgb(182, 223, 255);
    text-align: center;
    font-weight: bold;
}
    .ayuda table tr.group > td {
        color: #fff;
        text-transform: uppercase !important;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

#head {
    padding-left: 15px;
    font-size: 14px;
    height: 36px;
    display: flex;
    align-items: center;
}
