#modal-window-editor-grafico #cboTipoObjeto option[value="0"] {
    text-align: center;
}

#modal-window-editor-grafico .body-content {
    padding-bottom: 0;
}

#modal-window-editor-grafico .alfa-side {
    padding: 0;
    overflow: hidden;
}

#modal-window-editor-grafico .map-side {
    padding-top:15px;
}

#modal-window-editor-grafico .fa {
    cursor:pointer;
}

.alfa-side .panel-grilla {
    padding-top: 5px;
    margin-right: 20px;
}

    .alfa-side .panel-grilla > .row > div:first-of-type{
        padding-right: 0;
    }
    .alfa-side .panel-grilla > .row > div:last-of-type {
        margin-top: 6px;
        text-align: center;
    }



.alfa-side #grilla-objetos {
    width: 100% !important;
}

.alfa-side #objeto-grafico-controls span {
    cursor: pointer;
    color: black;
}

.alfa-side thead > tr.filtros > th {
    padding: 5px;
}

    .alfa-side thead > tr.filtros > th .form-control.input-sm {
        width: 100%;
    }

.alfa-side .panel-object-data .form-horizontal.object-data {
    margin: 10px;
    margin-bottom: 0;
}

.alfa-side .panel-object-data .form-group > .form-control {
    width: 100%;
}

.alfa-side .panel-object-data .form-control .select2-chosen {
    padding: 5px 10px;
}

    .alfa-side .panel-object-data .form-control .select2-choice {
        height:30px;
    }

.alfa-side .panel-object-data .form-group > .control-label {
    text-align: right;
}
