@model GeoSit.Data.BusinessEntities.ObrasPublicas.Tramite
<label class="control-label col-xs-2">Imprime</label>
<div class="col-xs-2" style="margin-top:5px">
    <div class="switch">
        @Html.CheckBoxFor(m => m.Imprime_Per, new { @class = "cmn-toggle cmn-toggle-round-flat" })
    </div>
</div>

