@model GeoSit.Client.Web.Models.ExpedientesObras.ActaModels
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-calendar/css/calendar.css" rel="stylesheet">

<div class="modal fade theme_new" id="modal-window-informe-actas-vencidas" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modal-windowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title">Informe de Actas Vencidas</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body">
                    <div class="body-content">
                        <div class="form-group">
                            <div class="panel-body panel-body-line">
                                <div class="row">
                                    <label for="FechaPlazo" class="col-xs-3 col-xs-offset-1" style="margin-top:7px;">A la fecha</label>
                                    <div class="input-group date col-xs-4">
                                        <input type="text" id="FechaPlazo" class="soloFecha form-control">
                                        <span class="input-group-addon">
                                            <span data-placement="left" title="Calendario" data-original-title="Calendario" class="icon-th fa fa-calendar fa-lg black cursor-pointer"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-4 pull-right">
                        <span id="aceptar-informe-actas-vencidas" aria-hidden="true" aria-controls="button" data-placement="right" title="Aceptar" data-original-title="Aceptar" class="fa fa-check-circle black fa-2x cursor-pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Información-->
<div class="modal fade theme_new mensaje" id="ModalInfoActa" tabindex="-3" role="dialog" aria-labelledby="TituloInfo" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TituloInfoActa"></h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body">
                <div id="MensajeInfoActa" class="alert alert-info alert-dismissible" role="alert">
                    <p id="DescripcionInfoActa"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/bootstrap-calendar/components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-calendar/js/language/es-ES.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.numeric.min.js"></script>
<script type="text/javascript" src="~/Scripts/Actas/InformeActasVencidas.js"></script>
