@model GeoSit.Client.Web.Models.SeguridadModel
@{
    ViewBag.Title = "Parámetros Generales";
    ViewBag.Description = "";
    ViewBag.CantidadMaxima = 100;


}
@section styles
{
    <link href="~/Content/mapastematicos.css" rel="stylesheet" />
    <link href="~/Content/jquery.jscrollpane.css" rel="stylesheet" />
    <link href="~/Content/progress_bar.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <body style="overflow-y:visible"></body>
}
                 

