<div class='srow uts-historicas'>
    <div class="controls fa pull-right">
        <span class="opcion fa-map-marker tooltips" directiva data-placement="bottom" title="Ver en mapa" ng-click="verEnMapa($event,unidadTributaria,true)" ng-show="tieneGrafico"></span>
        <span class="opcion fa-file-pdf-o tooltips" data-placement="bottom" title="Informe de Baja" ng-click="getReporteUnidadTributaria()" ng-show="allowInformeUnidadTributaria"></span>
    </div>
    <div class="roundChkBox uts-historicas">
        <input type="checkbox" id="{{chkboxid}}" ng-click="selectedChanged()" ng-model="unidadTributaria.selected" />
        <label for="{{chkboxid}}"></label>
    </div>
    <div>
        <p class='text-primary'>
            <span ng-bind-html="unidadTributaria.nombre | highlight:pattern:true"></span>
        </p>
        <p ng-if="tieneDescripcion"><span ng-bind-html="unidadTributaria.descripcion | highlight:pattern:true"></span></p>
    </div>
</div>