@using Newtonsoft.Json
@model IEnumerable<GeoSit.Data.BusinessEntities.ModuloPloteo.Plantilla>

<ul class="list-group">
    
    @foreach (var p in Model)
    {
        <li onclick="" class="list-group-item" id="@p.IdPlantilla">@p.Nombre</li>
    }
</ul>

<script type="text/javascript">
    listaPlantillas = @Html.Raw(JsonConvert.SerializeObject(Model));
    urlSubmit = "";
</script>