<div class="modal fade theme_new" id="busquedaCalleAforo" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title">Búsqueda de aforo</h3>
                    <span id="btnCerrarBusquedaCalleAforo" aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body dominio-body">
                    <div id="dominio-content" class="dominio-content body-content">
                        <div class="panel remove-shadow remove-margin">
                            <div class="panel-title">
                                @*<h4 class="title-border"><strong>Busqueda calle</strong></h4>*@
                            </div>
                            <div class="panel-body titular-datos">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label text-right">Calle</label>
                                        <div class="col-xs-7">
                                            <input id="aforoCalleIdVia" type="hidden" />
                                            <div class="input-group">
                                                <input id="aforoCalle" type="text" class="form-control" disabled />
                                                <div id="btnBuscarCalles" class="input-group-addon cursor-pointer">
                                                    <span class="fa fa-lg fa-search"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label text-right">N&uacute;mero</label>
                                        <div class="col-xs-7">
                                            <input id="aforoAltura" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-4 pull-right">
                        <span aria-hidden="true" data-placement="right" title="Buscar aforo para la calle seleccionada" data-original-title="Guardar" id="btnAplicarAforo" class="fa fa-save fa-2x black cursor-pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

