<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="POSTGRESGeoSIT" connectionString="Server=192.168.1.113;Database=chacoqa;PASSWORD=chacoqa;USER ID=chacoqa" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="webApiReportesURL" value="http://localhost/qa/chaco/reportes.api/" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="UploadPath" value="c:\inetpub\wwwroot\qa\chaco\commonfiles" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="HelpFileMT" value="c:\inetpub\wwwroot\qa\chaco\web.api\manuales\ayuda_mt.pdf" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="HelpFileBA" value="c:\inetpub\wwwroot\qa\chaco\web.api\manuales\ayuda_ba.pdf" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="solrUrl" value="http://192.168.1.54:8983/solr/gschacoqa/" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CADENCIA_MINUTOS_ACTUALIZACION_SOLR" value="5" />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>