<link href="~/Content/theme_new.css" rel="stylesheet" />
<link href="~/Content/AperturaLibroDiario.css" rel="stylesheet" />
<link href="~/Content/formValidation.min.css" rel="stylesheet" />

<div class="modal fade theme_new" id="modal-AperturaLibroDiario" tabindex="-2" data-backdrop="static" role="dialog" aria-labelledby="modal-windowLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id="scroll-content-aperturaLibroDiario" class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lblAperturaLibroDiario">@ViewBag.Title</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body aperturaLibroDiario-body">
                    <div id="aperturaLibroDiario-content" class="body-content aperturalibro-content">
                        @Html.Hidden("hdnLibroDiarioAbierto", (string)ViewBag.libroDiarioAbierto)
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label id="lblFechaLibro" class="col-xs-6 control-label text-muted text-right">
                                    Fecha Libro Diario:
                                </label>
                                <div class="col-xs-6">
                                    @Html.TextBox("txtFechaLibro", (string)ViewBag.FechaLibro, new { @class = "form-control", @maxlength = "10", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 control-label text-muted text-right">
                                    Confirma la apertura del Libro Diario para la fecha indicada?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-5 pull-right">
                        <button class="btn btn-secondary" id="btnAbrirLibroDiario" title="Aceptar">
                            <span>Aceptar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal theme_new fade mensaje" id="mensajeModalAperturaLibroDiario" tabindex="-2" role="dialog" aria-labelledby="TituloAdvertencia" aria-hidden="true" style="z-index:99999999;" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="TipoAdvertencia" value="">
                <h3 class="modal-title" id="TituloAdvertencia">Titulo</h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body">
                <div id="MensajeAlerta" class="alert alert-warning alert-dismissible" role="alert">
                    <p id="DescripcionAdvertencia">Está a punto de DESACTIVAR al usuario Perez, Juan <br>Está seguro de continuar?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/formValidation.min.js"></script>
<script src="~/Scripts/MesaEntradas/aperturalibrodiario.js"></script>
