@model GeoSit.Data.BusinessEntities.MesaEntradas.DTO.Observacion
<style>
    #modal-observar-tramite textarea {
        height: auto;
    }
    #modal-observar-tramite [type=submit] {
        padding:0;
        background:none !important;
        box-shadow:none !important;
        outline: none !important;
    }
</style>

<div class="modal fade theme_new" id="modal-observar-tramite" data-backdrop="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="scroll-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Observar Tr&aacute;mite</h3>
                        <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                    </div>
                    <div class="modal-body">
                        <div class="body-content">
                            <div class="panel remove-shadow remove-margin">
                                <div class="panel-body">
                                    @Html.HiddenFor(model => model.IdTramite)
                                    <div class="form-group">
                                        <div class="col-xs-offset-1 col-xs-10">
                                            <label class="control-label col-xs-3 text-right">
                                                Motivo:
                                            </label>
                                            <div class="col-xs-9">
                                                @Html.TextAreaFor(model => model.Motivo, new { @class = "form-control text-primary", rows = "6" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-4 pull-right">
                            <button type="submit" data-placement="right" title="Aceptar" data-original-title="Aceptar" class="btn cursor-pointer">
                                <span class="fa fa-check-circle light-blue fa-2x"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.form.js"></script>
<script>
    function init() {
        const container = "#modal-observar-tramite";
        const ok = ({ error, mensajes }) => {
            if (error) {
                showError(mensajes);
                return;
            }
            $(container).parent().trigger("formCerrado", null);
            $(container).modal("hide");
        }, showError = (messages, type) => {
            const params = { messages, type: type || TIPO_MSG.ERROR };
            $(container).parent().trigger("mostrarMensaje", params);
        };
        $(container)
            .one("shown.bs.modal", hideLoading)
            .modal("show");
        const form = $("form", container);
        form.ajaxForm({
            beforeSubmit: showLoading,
            type: "POST",
            url: "@Url.Action("Observar")",
            success:  ok,
            error: showError.bind(null, ["Ha ocurrido un error al realizar la observación."]),
            complete: hideLoading
        });
        form.submit(() => false);
    }
    $(document).ready(init);
</script>
