@model GeoSit.Client.Web.Models.ExpedientesObras.ServicioViewModel

<div class="panel-body">
        <h4>Servicios</h4>
        <div class="col-xs-11">
            @Html.DropDownListFor(model => model.IdServicio, Model.ServicioList, new { @class = "form-control select2", multiple = "" })
        </div>
</div>